{% include 'header.html' %}

<div class="container" role="main">
    <div class="row">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Namn</th>
                <th>Antal skor</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {{ agents_table|safe }}
            </tbody>
          </table>
        </div>
    </div>

<div class="row">
    <h3>Lägg till Agent</h3>
    <form role="form" method="POST" action="/staff">
        <div class="form-group">
            <label for="name">Namn: </label>
            <input type="text" name="name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-default">Lägg till</button>
    </form>
    </div>
</div>

{% include 'footer.html' %}